<!DOCTYPE html>
<html lang="en" ng-app="tweet-pa-more">
<head>
  <meta charset="UTF-8">
    
  <title>Tweet Pa More!</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>
  
  <!-- Vendor Style(s) -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css"></link>
    
</head>
<body>
  
  <div class="container" ng-controller="PostController">
    
    <h1>Tweet Pa More!</h1>

    <form class="form" ng-submit="PostTweet()">
      <div class="form-group">      
        <input type="text" class="form-control" placeholder="Name" ng-model="newPost.username">
      </div>
      <div class="form-group">
        <textarea maxlength="200" cols="30" rows="5" class="form-control" placeholder="Say Something" ng-model="newPost.message"></textarea>
      </div>
      <button class="btn btn-primary" type="submit"><i class="fa fa-send"></i> Tweet!</button>
    </form>
    
    <div id="post-stream">
      <h4>Live Feed <i class="fa fa-rss"></i></h4>
      
      <!-- Display Feed -->
      <div class="post" ng-cloak
           ng-repeat="post in posts | orderBy: created_at"
           ng-class="{ 'odd': $odd, 'even': $even }">
        
        <p>{{ post.message }}</p>
        <small>Posted by {{ post.username }} <span class="pull-right">{{ post.created_at | date:'medium' }}</span></small>
      
      </div>
      
    </div>
  </div>

  <!-- Vendor Script(s) -->
  <script type="text/javascript" src="bower_components/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/restangular/dist/restangular.js"></script>

  <!-- Angular App -->
  <script type="text/javascript" src="angular/app.js"></script>
  <script type="text/javascript" src="angular/app.config.js"></script>
  <!-- Angular App Resources -->
  <script type="text/javascript" src="angular/resources/app.resources.js"></script>
  <script type="text/javascript" src="angular/resources/posts.js"></script>
  <!-- Angular App Controllers -->
  <script type="text/javascript" src="angular/controllers/app.controllers.js"></script>
  <script type="text/javascript" src="angular/controllers/PostController.js"></script>
  
</body>
</html>