/**
* .post styles
*/
#post-stream {
	
	background: #FBFBFB;

	margin: 10px 0;
	padding: 10px;

	.post {
		
		color: #FFF;
		
		margin: 5px 0;
		padding: 10px;
		
		p {
			font-size: 19px;
		}
		
		&.odd {
			background: $post-odd-bg-color;
		}
		&.even {
			background: $post-even-bg-color;
		}
	}
}