
<div id="home" class="container">
  <div class="row">
    <div id="new-post" class="col-sm-5 col-lg-3">

      <h1>Tweet Pa More!</h1>

      <form class="form" ng-submit="home.PostTweet()">
          
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Name" ng-model="home.newPost.username" required="" />
          </div>
          
          <div class="form-group">
              <textarea maxlength="200" cols="30" rows="5" class="form-control" placeholder="Say Something" ng-model="home.newPost.message" required="" ></textarea>
          </div>
          
          <button class="btn btn-primary" ng-disabled="home.isSending" type="submit">
            <i class="fa fa-spinner fa-spin fa-pulse" ng-show="home.isSending"></i>
            <i class="fa fa-send" ng-hide="home.isSending"></i> Tweet!
          </button>
          <button class="btn btn-success"><i class="fa fa-user"></i> Login</button>
      </form>
    </div>

    <div class="col-sm-6"><!-- Emulate the size of the tweet form --></div>
    
    <div id="post-stream" class="col-sm-6">

      <h4>Live Feed <i class="fa fa-rss"></i></h4>

      <!-- Display Feed -->
      <div class="post"
           ng-cloak=""
           ng-repeat="post in home.posts track by $index | orderBy: created_at"
           ng-class="{ 'odd': $odd, 'even': $even }">

          <p>{{ post.message }}</p>
          <small>Posted by {{ post.username }} <span class="pull-right">{{ post.created_at | date:'medium' }}</span></small>

      </div>
    </div>
  </div>
</div>